@import url("https://fonts.googleapis.com/css?family=Raleway|Oswald|Lobster");
@import url("https://fonts.googleapis.com/css?family=Raleway|Oswald|Lobster");
.darknUI path, .darknUI svg, .darknUI circle {
  stroke: #FCFBE3 !important;
  fill: #FCFBE3 !important; }
.darknUI ._4sp8 {
  transition: background 0.5s ease;
  background-color: #2A2A28; }
.darknUI ._4u-c._1wfr._9hq {
  box-shadow: inset 0 80px 50px -25px #1c1c1c; }
.darknUI ._mh6 ._4rv3 {
  transition: background 0.5s ease;
  background-color: #1c1c1c; }
.darknUI ._1mf._1mj span {
  font-family: Raleway, sans-serif;
  color: #FCFBE3 !important; }
  .darknUI ._1mf._1mj span::selection {
    color: #1c1c1c;
    background-color: #FF3F80; }
.darknUI ._5742, .darknUI ._36ic._5l-3 {
  transition: background 0.5s ease;
  background-color: #1c1c1c; }
.darknUI ._1ht3._1ht1 {
  transition: background 0.5s ease;
  background-color: #1c1c1c; }
.darknUI li._5l-3._1ht1:hover, .darknUI ._1ht1._1ht2 {
  transition: background 0.5s ease;
  background-color: #7F1F40; }
  .darknUI li._5l-3._1ht1:hover abbr, .darknUI ._1ht1._1ht2 abbr {
    color: #FCFBE3 !important; }
.darknUI ._1htf, .darknUI em._4qba, .darknUI ._4rv3, .darknUI span._3oh-._58nk, .darknUI span._3oh-._58nk span, .darknUI ._2jnv, .darknUI ._3q34, .darknUI ._3q35, .darknUI span._3oh-, .darknUI ._1mf._1mj span {
  font-family: Raleway, sans-serif;
  color: #FCFBE3 !important; }
  .darknUI ._1htf::selection, .darknUI em._4qba::selection, .darknUI ._4rv3::selection, .darknUI span._3oh-._58nk::selection, .darknUI span._3oh-._58nk span::selection, .darknUI ._2jnv::selection, .darknUI ._3q34::selection, .darknUI ._3q35::selection, .darknUI span._3oh-::selection, .darknUI ._1mf._1mj span::selection {
    color: #1c1c1c;
    background-color: #FF3F80; }
.darknUI ._hh7 a {
  font-family: Raleway, sans-serif;
  color: #FCFBE3 !important; }
  .darknUI ._hh7 a::selection {
    color: #1c1c1c;
    background-color: #FF3F80; }
  .darknUI ._hh7 a:hover {
    transition: background 0.5s ease;
    background-color: #7F1F40 !important; }
.darknUI span._2her._9ah {
  width: 12px;
  height: 12px;
  color: #FCFBE3 !important; }
.darknUI i._57e_ {
  color: #1c1c1c !important;
  margin-left: 4px;
  padding-top: 1px; }
.darknUI time._3oh-, .darknUI ._ih3._3oh- span, .darknUI abbr._1ht7, .darknUI ._3oh- span {
  color: #91918D !important; }
  .darknUI time._3oh-::selection, .darknUI ._ih3._3oh- span::selection, .darknUI abbr._1ht7::selection, .darknUI ._3oh- span::selection {
    color: #1c1c1c;
    background-color: #FF3F80; }
.darknUI ._1ht6 {
  font-family: Oswald, sans-serif;
  color: #FCFBE3 !important; }
  .darknUI ._1ht6::selection {
    color: #1c1c1c;
    background-color: #FF3F80; }
.darknUI ._17w2 ._3oh- span {
  font-family: Oswald, sans-serif;
  color: #FCFBE3 !important;
  font-size: 18px;
  font-weight: bold; }
  .darknUI ._17w2 ._3oh- span::selection {
    color: #1c1c1c;
    background-color: #FF3F80; }
.darknUI ._o46._3i_m ._3058 {
  transition: background 0.5s ease;
  background-color: transparent !important; }
.darknUI ._hh7, .darknUI ._52mr._2poz._ui9._5i_d {
  transition: background 0.5s ease;
  background-color: transparent;
  border: 1px solid #FCFBE3; }
.darknUI ._2f5n._4br2._29ew._3dug.__6j._43kk {
  transition: background 0.5s ease;
  background-color: #2A2A28; }
.darknUI ._364g {
  font-family: Raleway, sans-serif;
  color: #FCFBE3 !important; }
  .darknUI ._364g::selection {
    color: #1c1c1c;
    background-color: #FF3F80; }
.darknUI ._5l37:hover {
  transition: background 0.2s linear;
  background-color: #7F1F40; }
.darknUI ._5iwm {
  padding: 15px 12px; }
  .darknUI ._5iwm ._58al {
    transition: background 0.5s ease;
    background-color: #2A2A28;
    color: #FCFBE3;
    border-radius: 0; }
    .darknUI ._5iwm ._58al::selection {
      color: #1c1c1c;
      background-color: #FF3F80; }
    .darknUI ._5iwm ._58al::-webkit-input-placeholder {
      color: #FCFBE3; }
    .darknUI ._5iwm ._58al:focus {
      transition: padding 0.2s linear;
      padding: 15px 0 25px 35px;
      margin-bottom: 10px;
      border-bottom: 2px solid #7F1F40; }
    .darknUI ._5iwm ._58al:not(:focus) {
      transition: padding 0.2s linear;
      padding: 15px 12px; }
.darknUI input._58al {
  color: #FCFBE3; }
  .darknUI input._58al::selection {
    color: #1c1c1c;
    background-color: #FF3F80; }
  .darknUI input._58al::-webkit-input-placeholder {
    color: #FCFBE3; }
  .darknUI input._58al:focus {
    transition: padding 0.2s linear;
    padding: 15px 0 15px 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid #7F1F40; }
  .darknUI input._58al:not(:focus) {
    transition: padding 0.2s linear;
    padding: none; }
.darknUI ._2y8_ {
  background-color: #1c1c1c; }
.darknUI .__6m, .darknUI ._4ik5._4ik4 {
  color: #FCFBE3 !important; }

.darknButton {
  display: table;
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 9999;
  right: 25px;
  bottom: 50px;
  color: #2A2A28;
  border: 1px solid #2A2A28;
  font-size: 8px;
  font-weight: 900;
  text-align: center; }
  .darknButton .darknText {
    display: table-cell;
    vertical-align: middle; }
  .darknButton:hover {
    transition: background 0.5s ease;
    cursor: pointer;
    background-color: #2A2A28;
    border: 1px solid #FCFBE3; }
    .darknButton:hover .darknText {
      color: #FCFBE3; }

.darknUI .darknButton {
  color: #FCFBE3;
  border: 1px solid #FCFBE3; }
  .darknUI .darknButton:hover {
    transition: background 0.5s ease;
    background: #FCFBE3;
    border: 1px solid #2A2A28; }
    .darknUI .darknButton:hover .darknText {
      color: #2A2A28; }

/*# sourceMappingURL=darkn.css.map */
