@import 'constants';

.darknUI {

  path, svg, circle {
    stroke: $cream !important;
    fill: $cream !important;
  }

  // Main background
  ._4sp8 {
    @include d-transition(background);
    background-color: $gray;
  }

  // Message Input
  ._mh6 ._4rv3 {
    @include d-transition(background);
    background-color: $browngray;
  }

  // Chat Banner & Messages Banner
  ._5742, ._36ic._5l-3 {
    @include d-transition(background);
    background-color: $darkgray;
  }

  // New Message Chat Tab Color
  ._1ht3._1ht1 {
    @include d-transition(background);
    background-color: $browngray;
  }
  // Chat Tabs
  li._5l-3._1ht1:hover, ._1ht1._1ht2 {
    background-color: $darkgray;
  }

// span._3oh-,
  // Messages in Bubbles
  ._1htf,  em._4qba, ._4rv3, span._3oh-._58nk, span._3oh-._58nk span {
    @include text;
  }
  ._hh7 a {
    @include text;
    &:hover {
      @include d-transition(background);
      background-color: transparent;
    }
  }

  // Delivered Checkbox
  ._9ah{
    color: $cream !important;
  }

  // Check inside Delivered Checkbox
  i._57e_ {
    color: $darkgray !important;
  }

  // In Chat Member Names and Time Stamps
  time._3oh-, ._ih3._3oh- span, abbr._1ht7, ._3oh- span{
    color: $lightgray !important;
  }


  // Left Bar Chat Names
  ._1ht6 {
    @include title;
  }

  // Banner Chat Name
  ._17w2 ._3oh- span {
    @include title;
    font: {
      size: 18px;
      weight: bold;
    }
  }

  // Your Message Bubbles
  ._o46._3i_m ._3058 {
    @include d-transition(background);
    background-color: $gray !important;
  }

  // Others' Message Bubbles
  ._hh7, ._52mr._2poz._ui9._5i_d {
    @include d-transition(background);
    background-color: $gray;
    border: 1px solid $cream;
  }
  ._2f5n._4br2._29ew._3dug.__6j._43kk {
    @include d-transition(background);
    background-color: $gray;
  }

  // Right Bar Member Names
  ._364g {
    @include text;
  }

  // Search bar
  ._5iwm ._58al {
    @include d-transition(background);
    background-color: $browngray;
    color: $cream;
    &::-webkit-input-placeholder {
       color: $cream;
    }
  }

  // Smart Link text
  .__6m, ._4ik5._4ik4 {
    color: $cream !important;
  }

  // darkn Button
  .darknButton {
    color: $cream;
    border: 1px solid $cream;
  }
  ._2jnv {
    @include text;
  }
}

.darknButton {
  display: table;
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 9999;
  right: 25px;
  bottom: 25px;
  color: $gray;
  border: 1px solid $gray;
  font-size: 8px;
  font-weight: 900;
  text-align: center;

  .darknText {
    display: table-cell;
    vertical-align: middle;
  }

  &:hover {
    @include d-transition(background);
    cursor: pointer;
    background-color: $gray;
    border: 1px solid $cream;
    .darknText {
      color: $cream;
    }
  }
}
