@import 'constants';


.darknUI {

  path, svg, circle {
    stroke: $cream !important;
    fill: $cream !important;
  }

  // Main background color
  ._4sp8, ul._29hl, ._4eby._2c9g, h2._4ebz {
    @include ease(background);
    background-color: $gray;
  }

  ._225b, ._33p7 {
    background: $darkgray;
  }

  // Chat Body
  ._4u-c._1wfr._9hq {
    box-shadow: inset 0 80px 50px -25px $darkgray;
  }

  // Message Input
  ._mh6 ._4rv3 {
    @include ease(background);
    background-color: $darkgray;
  }
  ._1mf._1mj span {
    @include text;
  }

  // Banners
  ._5742, ._36ic._5l-3, div._4jgp h2._4ebz {
    @include ease(background);
    background-color: $darkgray;
  }

  // New Message Chat Tab Color
  ._1ht3._1ht1 {
    @include ease(background);
    background-color: $darkgray;
  }
  // Selected and Hover Chat Tabs
  li._5l-3._1ht1:hover, ._1ht1._1ht2 {
    @include ease(background);
    background-color: $wine;
    abbr {
      color: $cream !important;
    }
  }

  li._54ni.__MenuItem:hover {
    span._54nh em._4qba {
      color: $cream;
    }
  }

  // Text
  ._1htf, ._3szq em._4qba, ._1lj0 em._4qba,
  ._4rv3, span._3oh-._58nk, span._3oh-._58nk span, ._2jnv, ._3q34,
  ._3q35, span._3oh-, ._1mf._1mj span, ._1li_ a, ._4rpj em._4qba,
  ._3eus em._4qba, ._19jt em._4qba, ._4eby ._5ixy, div._29hk em._4qba, ._1tqi em._4qba,
  h2._4ebz, label.uiInputLabelLabel em._4qba, div._5742 em._4qba {
    @include text;
  }
  span._54nh em._4qba {
    color: $darkgray;
  }
  ._2i-c ._54ne:hover {
    color: $cream !important;
  }
  ._hh7 a {
    @include text;
    &:hover {
      @include ease(background);
      background-color: $wine !important;
    }
  }

  // Delivered Checkbox
  span._2her._9ah {
    width: 12px;
    height: 12px;
    color: $wine !important;
  }

  // Check inside Delivered Checkbox
  i._57e_ {
    color: $cream !important;
    margin-left: 4px;
    padding-top: 1px;
  }

  // In Chat Member Names and Time Stamps
  time._3oh-, ._ih3._3oh- span, abbr._1ht7, ._3oh- span{
    @include highlight;
    color: $lightgray !important;
  }


  // Left Bar Chat Names
  ._1ht6 {
    @include title;
  }

  // Banner Chat Name
  ._5742 h2._17w2 {
    @include title;
    font: {
      size: 16px;
      weight: bold;
    }
  }
  ._1_fz {
    text-align: center !important;
    ._17w2 ._3oh- span {
      @include title;
      font: {
        size: 18px;
        weight: bold;
      }
    }
  }

  // Add New Members window
  ._4jgp {
    background: $gray;
  }

  // Your Message Bubbles
  ._o46._3i_m ._3058, ._o46._3i_m ._3058._15gf ._2poz {
    @include ease(background);
    background-color: transparent !important;
    border: 2px solid $wine;
  }
  ._3058._15gf {
    border: none !important;
  }

  // Others' Message Bubbles
  ._hh7, ._52mr._2poz._ui9._5i_d {
    @include ease(background);
    background-color: transparent;
    border: 1px solid $cream;
    &:active {
      background-color: $darkgray;
    }
  }
  ._2f5n._4br2._29ew._3dug.__6j._43kk {
    @include ease(background);
    background-color: $gray;
  }

  // Right Bar Member Names
  ._364g {
    @include text;
  }
  ._5l37:hover {
    @include linear(background);
    background-color: $wine;
  }

  // Search bar
  ._5iwm {
    padding: 15px 12px;
    ._58al {
      @include highlight;
      @include ease(background);
      background-color: $gray;
      color: $cream;
      &::-webkit-input-placeholder {
        color: $cream;
      }
      border-radius: 0;
      &:focus {
        @include linear(padding);
        padding: 15px 0 25px 35px;
        margin-bottom: 10px;
        border-bottom: 2px solid $wine;
      }
      &:not(:focus) {
        @include linear(padding);
        padding: 15px 12px;
      }
    }
  }
  ._4jgt._14-7 {
    margin: 5px;
  }

  // New Chat input
  input._58al {
    @include highlight;
    color: $cream;
    &::-webkit-input-placeholder {
      color: $cream;
    }
    &:focus {
      @include linear(padding);
      padding: 15px 0 15px 15px;
      margin-bottom: 10px;
      border-bottom: 2px solid $wine;
    }
    &:not(:focus) {
      @include linear(padding);
      padding: none;
    }
  }

  // Create New Chat Window
  ._2y8_, ._4t2a {
    background-color: $darkgray !important;
  }

  // Smart Link Text
  .__6m, ._4ik5._4ik4 {
    color: $cream !important;
  }

}
