@import 'constants';

.bg {
  width: auto;
  height: auto;
  background-color: #262626;
  color: white;
}

h2 {
  font-size: 24px;
}

.instructions {
  @include text;
  font-size: 15px;
  margin: 5px;
  div {
    margin: 15px;
  }
}

.section {
  padding: 10px 20px 20px 20px;
}

.darkn {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: $gray;
  background-color: #262626;
  margin: 35px 22px;
  padding: 10px;
  border: solid #ffffff 10px;
}

.icon {
  margin-bottom: 35px;
  display: block;
  height: 40px;
  width: 40px;
}
